USE [master]
GO
/****** Object:  Database [QuanLyBanVeTau]    Script Date: 29/10/2025 3:34:57 CH ******/
CREATE DATABASE [QuanLyBanVeTau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyBanVeTau', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBanVeTau.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyBanVeTau_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyBanVeTau_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanVeTau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanVeTau]
GO
USE [QuanLyBanVeTau]
GO
/****** Object:  Sequence [dbo].[seq_MaVe]    Script Date: 29/10/2025 3:34:57 CH ******/
CREATE SEQUENCE [dbo].[seq_MaVe] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [varchar](9) NOT NULL,
	[maVe] [varchar](20) NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuDatCho]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuDatCho](
	[maPhieuDatCho] [varchar](10) NOT NULL,
	[maChoNgoi] [varchar](10) NOT NULL,
	[maChuyenTau] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDatCho] ASC,
	[maChoNgoi] ASC,
	[maChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoNgoi]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoNgoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDloaiGhe] [int] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[maToa] [varchar](6) NOT NULL,
	[maChoNgoi] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ChoNgoi_maChoNgoi] PRIMARY KEY CLUSTERED 
(
	[maChoNgoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[IDct] [int] IDENTITY(1,1) NOT NULL,
	[maChuyenTau]  AS ('C-'+right('000'+CONVERT([varchar](3),[IDct]),(3))) PERSISTED NOT NULL,
	[thoiGianKhoiHanh] [datetime] NOT NULL,
	[thoiGianDen] [datetime] NOT NULL,
	[maTau] [varchar](6) NOT NULL,
	[maLichTrinh] [varchar](6) NOT NULL,
	[giaChuyen] [decimal](10, 2) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[IDga] [int] IDENTITY(1,1) NOT NULL,
	[maGa]  AS ('GA-'+right('00'+CONVERT([varchar](2),[IDga]),(2))) PERSISTED NOT NULL,
	[tenGa] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanhKhach]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanhKhach](
	[IDhk] [int] IDENTITY(1,1) NOT NULL,
	[maHanhKhach]  AS ('HK-'+right('00000'+CONVERT([varchar](5),[IDhk]),(5))) PERSISTED NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[cmndCccd] [varchar](20) NULL,
	[soDienThoai] [varchar](15) NULL,
	[ngaySinh] [date] NOT NULL,
	[maUuDai] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHanhKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDhd] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon]  AS ('HD-'+right('000000'+CONVERT([varchar](6),[IDhd]),(6))) PERSISTED NOT NULL,
	[ngayLap] [date] NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[maHanhKhach] [varchar](8) NOT NULL,
	[maNhanVien] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [varchar](10) NOT NULL,
	[tenKhuyenMai] [nvarchar](100) NOT NULL,
	[mucGiamGia] [decimal](18, 2) NOT NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[dieuKien] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuVe]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuVe](
	[IDls] [int] IDENTITY(1,1) NOT NULL,
	[maLichSuVe]  AS ('LSV-'+right('000000'+CONVERT([varchar](6),[IDls]),(6))) PERSISTED NOT NULL,
	[IDloaiGiaoDich] [int] NOT NULL,
	[ngayGiaoDich] [datetime] NOT NULL,
	[lyDo] [nvarchar](500) NULL,
	[phiXuLy] [decimal](10, 2) NULL,
	[maVe] [varchar](10) NOT NULL,
	[maNhanVien] [varchar](6) NOT NULL,
	[maHoaDon] [varchar](9) NULL,
	[maHanhKhach] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichSuVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[IDlt] [int] IDENTITY(1,1) NOT NULL,
	[maLichTrinh]  AS ('LT-'+right('000'+CONVERT([varchar](3),[IDlt]),(3))) PERSISTED NOT NULL,
	[tenLichTrinh] [nvarchar](100) NOT NULL,
	[gaDi] [varchar](5) NOT NULL,
	[gaDen] [varchar](5) NOT NULL,
	[khoangCach] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiChucVu]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiChucVu](
	[IDloaiCV] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDloaiCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGhe]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGhe](
	[IDloaiGhe] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDloaiGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiaoDich]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiaoDich](
	[IDloaiGD] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDloaiGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiUuDai]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiUuDai](
	[IDloaiUD] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDloaiUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDnv] [int] IDENTITY(1,1) NOT NULL,
	[maNhanVien]  AS ('NV-'+right('000'+CONVERT([varchar](3),[IDnv]),(3))) PERSISTED NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[soDienThoai] [varchar](15) NOT NULL,
	[cmndCccd] [varchar](20) NULL,
	[IDloaiChucVu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatCho]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatCho](
	[IDpdc] [int] IDENTITY(1,1) NOT NULL,
	[maPhieuDatCho]  AS ('PDC-'+right('000000'+CONVERT([varchar](6),[IDpdc]),(6))) PERSISTED NOT NULL,
	[ngayDat] [datetime] NOT NULL,
	[trangThai] [nvarchar](20) NULL,
	[maHanhKhach] [varchar](8) NOT NULL,
	[maNhanVien] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDatCho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenDangNhap] [varchar](50) NOT NULL,
	[matKhau] [varchar](30) NOT NULL,
	[maNhanVien] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tau]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tau](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[maTau]  AS ('T-'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[tenTau] [nvarchar](100) NOT NULL,
	[soLuongToa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeDoanhThu]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeDoanhThu](
	[IDtk] [int] IDENTITY(1,1) NOT NULL,
	[maThongKe]  AS ('TKDT-'+right('000000'+CONVERT([varchar](6),[IDtk]),(6))) PERSISTED NOT NULL,
	[ngayThongKe] [date] NOT NULL,
	[maNhanVien] [varchar](6) NOT NULL,
	[tongDoanhThu] [decimal](18, 2) NOT NULL,
	[tongSoVe] [int] NOT NULL,
	[tongSoHoanDoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maThongKe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToaTau]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaTau](
	[IDtoa] [int] IDENTITY(1,1) NOT NULL,
	[maToa]  AS ('TOA-'+right('00'+CONVERT([varchar](2),[IDtoa]),(2))) PERSISTED NOT NULL,
	[soThuTu] [int] NOT NULL,
	[soLuongCho] [int] NOT NULL,
	[heSoGia] [decimal](10, 2) NOT NULL,
	[maTau] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[IDuu] [int] IDENTITY(1,1) NOT NULL,
	[maUuDai]  AS ('UD-'+right('00'+CONVERT([varchar](2),[IDuu]),(2))) PERSISTED NOT NULL,
	[IDloaiUuDai] [int] NOT NULL,
	[mucGiamGia] [decimal](5, 2) NOT NULL,
	[dieuKienApDung] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[maUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 29/10/2025 3:34:57 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ngayDat] [datetime] NOT NULL,
	[giaVeGoc] [decimal](18, 2) NOT NULL,
	[giaThanhToan] [decimal](18, 2) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[maChoNgoi] [varchar](10) NOT NULL,
	[maChuyenTau] [varchar](5) NOT NULL,
	[maHanhKhach] [varchar](8) NOT NULL,
	[maKhuyenMai] [varchar](10) NULL,
	[maNhanVien] [varchar](6) NOT NULL,
	[maVe] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Ve] PRIMARY KEY CLUSTERED 
(
	[maVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maVe], [donGia]) VALUES (N'HD-000038', N'VE000035', CAST(1000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maVe], [donGia]) VALUES (N'HD-000038', N'VE000036', CAST(1000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maVe], [donGia]) VALUES (N'HD-000039', N'VE000037', CAST(1000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ChoNgoi] ON 

INSERT [dbo].[ChoNgoi] ([ID], [IDloaiGhe], [trangThai], [maToa], [maChoNgoi]) VALUES (1, 1, N'Đã đặt', N'TOA-01', N'A-001')
INSERT [dbo].[ChoNgoi] ([ID], [IDloaiGhe], [trangThai], [maToa], [maChoNgoi]) VALUES (2, 1, N'Đã đặt', N'TOA-01', N'A-002')
INSERT [dbo].[ChoNgoi] ([ID], [IDloaiGhe], [trangThai], [maToa], [maChoNgoi]) VALUES (3, 1, N'Đã đặt', N'TOA-01', N'A-003')
GO
SET IDENTITY_INSERT [dbo].[ChoNgoi] OFF
GO
SET IDENTITY_INSERT [dbo].[ChuyenTau] ON 

INSERT [dbo].[ChuyenTau] ([IDct], [thoiGianKhoiHanh], [thoiGianDen], [maTau], [maLichTrinh], [giaChuyen], [trangThai]) VALUES (1, CAST(N'2025-10-21T08:00:00.797' AS DateTime), CAST(N'2025-10-22T19:00:00.797' AS DateTime), N'T-1000', N'LT-001', CAST(1250000.00 AS Decimal(10, 2)), N'Đã hoàn thành')
INSERT [dbo].[ChuyenTau] ([IDct], [thoiGianKhoiHanh], [thoiGianDen], [maTau], [maLichTrinh], [giaChuyen], [trangThai]) VALUES (2, CAST(N'2025-10-22T10:00:00.797' AS DateTime), CAST(N'2025-10-23T19:00:00.797' AS DateTime), N'T-1002', N'LT-001', CAST(1400000.00 AS Decimal(10, 2)), N'Đã hoàn thành')
INSERT [dbo].[ChuyenTau] ([IDct], [thoiGianKhoiHanh], [thoiGianDen], [maTau], [maLichTrinh], [giaChuyen], [trangThai]) VALUES (3, CAST(N'2025-10-21T18:00:00.797' AS DateTime), CAST(N'2025-10-22T12:00:00.797' AS DateTime), N'T-1001', N'LT-002', CAST(750000.00 AS Decimal(10, 2)), N'Đã hoàn thành')
SET IDENTITY_INSERT [dbo].[ChuyenTau] OFF
GO
SET IDENTITY_INSERT [dbo].[Ga] ON 

INSERT [dbo].[Ga] ([IDga], [tenGa], [diaChi]) VALUES (1, N'Ga Sài Gòn', N'Quận 3, TP. Hồ Chí Minh')
INSERT [dbo].[Ga] ([IDga], [tenGa], [diaChi]) VALUES (2, N'Ga Hà Nội', N'Quận Đống Đa, Hà Nội')
INSERT [dbo].[Ga] ([IDga], [tenGa], [diaChi]) VALUES (3, N'Ga Đà Nẵng', N'Quận Hải Châu, Đà Nẵng')
SET IDENTITY_INSERT [dbo].[Ga] OFF
GO
SET IDENTITY_INSERT [dbo].[HanhKhach] ON 

INSERT [dbo].[HanhKhach] ([IDhk], [hoTen], [cmndCccd], [soDienThoai], [ngaySinh], [maUuDai]) VALUES (150, N'Binh', N'049595969695', N'0344443434', CAST(N'2025-10-08' AS Date), N'UD-02')
INSERT [dbo].[HanhKhach] ([IDhk], [hoTen], [cmndCccd], [soDienThoai], [ngaySinh], [maUuDai]) VALUES (151, N'Hihi', N'049555545454', N'0956959423', CAST(N'2025-10-01' AS Date), N'UD-02')
INSERT [dbo].[HanhKhach] ([IDhk], [hoTen], [cmndCccd], [soDienThoai], [ngaySinh], [maUuDai]) VALUES (152, N'BinhTh', N'049555566767', N'0344445454', CAST(N'2025-10-13' AS Date), N'UD-02')
SET IDENTITY_INSERT [dbo].[HanhKhach] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([IDhd], [ngayLap], [tongTien], [maHanhKhach], [maNhanVien]) VALUES (38, CAST(N'2025-10-28' AS Date), CAST(2200000.00 AS Decimal(18, 2)), N'HK-00151', N'NV-001')
INSERT [dbo].[HoaDon] ([IDhd], [ngayLap], [tongTien], [maHanhKhach], [maNhanVien]) VALUES (39, CAST(N'2025-10-28' AS Date), CAST(2200000.00 AS Decimal(18, 2)), N'HK-00153', N'NV-001')
INSERT [dbo].[HoaDon] ([IDhd], [ngayLap], [tongTien], [maHanhKhach], [maNhanVien]) VALUES (40, CAST(N'2025-10-28' AS Date), CAST(1249600.00 AS Decimal(18, 2)), N'HK-00154', N'NV-001')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [mucGiamGia], [ngayBatDau], [ngayKetThuc], [dieuKien]) VALUES (N'KM2011', N'Khuyến Mãi Tri Ân Ngày Nhà Giáo 20/11 (Giảm 15%)', CAST(15.00 AS Decimal(18, 2)), CAST(N'2025-11-01' AS Date), CAST(N'2025-11-30' AS Date), N'Giảm 15% tổng giá vé thanh toán (sau khi đã áp dụng ưu đãi khác).')
GO
SET IDENTITY_INSERT [dbo].[LichSuVe] ON 

INSERT [dbo].[LichSuVe] ([IDls], [IDloaiGiaoDich], [ngayGiaoDich], [lyDo], [phiXuLy], [maVe], [maNhanVien], [maHoaDon], [maHanhKhach]) VALUES (17, 1, CAST(N'2025-10-28T20:08:42.440' AS DateTime), N'Bán vé thành công', CAST(0.00 AS Decimal(10, 2)), N'VE000035', N'NV-001', N'HD-000038', N'HK-00151')
INSERT [dbo].[LichSuVe] ([IDls], [IDloaiGiaoDich], [ngayGiaoDich], [lyDo], [phiXuLy], [maVe], [maNhanVien], [maHoaDon], [maHanhKhach]) VALUES (18, 1, CAST(N'2025-10-28T20:08:42.487' AS DateTime), N'Bán vé thành công', CAST(0.00 AS Decimal(10, 2)), N'VE000036', N'NV-001', N'HD-000038', N'HK-00151')
INSERT [dbo].[LichSuVe] ([IDls], [IDloaiGiaoDich], [ngayGiaoDich], [lyDo], [phiXuLy], [maVe], [maNhanVien], [maHoaDon], [maHanhKhach]) VALUES (19, 1, CAST(N'2025-10-28T20:22:39.023' AS DateTime), N'Bán vé thành công', CAST(0.00 AS Decimal(10, 2)), N'VE000037', N'NV-001', N'HD-000039', N'HK-00153')
SET IDENTITY_INSERT [dbo].[LichSuVe] OFF
GO
SET IDENTITY_INSERT [dbo].[LichTrinh] ON 

INSERT [dbo].[LichTrinh] ([IDlt], [tenLichTrinh], [gaDi], [gaDen], [khoangCach]) VALUES (1, N'Tuyến Sài Gòn - Hà Nội', N'GA-01', N'GA-02', CAST(1726.00 AS Decimal(10, 2)))
INSERT [dbo].[LichTrinh] ([IDlt], [tenLichTrinh], [gaDi], [gaDen], [khoangCach]) VALUES (2, N'Tuyến Hà Nội - Đà Nẵng', N'GA-02', N'GA-03', CAST(791.00 AS Decimal(10, 2)))
INSERT [dbo].[LichTrinh] ([IDlt], [tenLichTrinh], [gaDi], [gaDen], [khoangCach]) VALUES (3, N'Tuyến Sài Gòn - Biên Hòa', N'GA-01', N'GA-04', CAST(30.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[LichTrinh] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiChucVu] ON 

INSERT [dbo].[LoaiChucVu] ([IDloaiCV], [tenLoai]) VALUES (1, N'Nhân viên quản lý')
INSERT [dbo].[LoaiChucVu] ([IDloaiCV], [tenLoai]) VALUES (2, N'Nhân viên bán vé')
SET IDENTITY_INSERT [dbo].[LoaiChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGhe] ON 

INSERT [dbo].[LoaiGhe] ([IDloaiGhe], [tenLoai]) VALUES (1, N'Ghế cứng')
INSERT [dbo].[LoaiGhe] ([IDloaiGhe], [tenLoai]) VALUES (2, N'Ghế mềm')
INSERT [dbo].[LoaiGhe] ([IDloaiGhe], [tenLoai]) VALUES (3, N'Giường nằm')
SET IDENTITY_INSERT [dbo].[LoaiGhe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGiaoDich] ON 

INSERT [dbo].[LoaiGiaoDich] ([IDloaiGD], [tenLoai]) VALUES (1, N'Bán vé')
INSERT [dbo].[LoaiGiaoDich] ([IDloaiGD], [tenLoai]) VALUES (2, N'Hủy vé')
INSERT [dbo].[LoaiGiaoDich] ([IDloaiGD], [tenLoai]) VALUES (3, N'Đổi vé')
SET IDENTITY_INSERT [dbo].[LoaiGiaoDich] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiUuDai] ON 

INSERT [dbo].[LoaiUuDai] ([IDloaiUD], [tenLoai]) VALUES (1, N'Người lớn (Mặc định)')
INSERT [dbo].[LoaiUuDai] ([IDloaiUD], [tenLoai]) VALUES (2, N'Trẻ em')
INSERT [dbo].[LoaiUuDai] ([IDloaiUD], [tenLoai]) VALUES (3, N'Học sinh - Sinh viên')
SET IDENTITY_INSERT [dbo].[LoaiUuDai] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([IDnv], [hoTen], [ngaySinh], [soDienThoai], [cmndCccd], [IDloaiChucVu]) VALUES (1, N'Nguyễn Văn A', CAST(N'1985-05-15' AS Date), N'0987654321', N'001122334455', 1)
INSERT [dbo].[NhanVien] ([IDnv], [hoTen], [ngaySinh], [soDienThoai], [cmndCccd], [IDloaiChucVu]) VALUES (2, N'Trần Thị B', CAST(N'1995-10-20' AS Date), N'0901234567', N'002233445566', 2)
INSERT [dbo].[NhanVien] ([IDnv], [hoTen], [ngaySinh], [soDienThoai], [cmndCccd], [IDloaiChucVu]) VALUES (3, N'Lê Văn C', CAST(N'1998-01-01' AS Date), N'0919876543', N'003344556677', 2)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [maNhanVien]) VALUES (N'0901234567', N'Abc@123', N'NV-002')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [maNhanVien]) VALUES (N'0919876543', N'Abc@123', N'NV-003')
INSERT [dbo].[TaiKhoan] ([tenDangNhap], [matKhau], [maNhanVien]) VALUES (N'0987654321', N'Abc@123', N'NV-001')
GO
SET IDENTITY_INSERT [dbo].[Tau] ON 

INSERT [dbo].[Tau] ([ID], [tenTau], [soLuongToa]) VALUES (1000, N'SE1', 14)
INSERT [dbo].[Tau] ([ID], [tenTau], [soLuongToa]) VALUES (1001, N'SE3', 12)
INSERT [dbo].[Tau] ([ID], [tenTau], [soLuongToa]) VALUES (1002, N'TN1', 15)
SET IDENTITY_INSERT [dbo].[Tau] OFF
GO
SET IDENTITY_INSERT [dbo].[ToaTau] ON 

INSERT [dbo].[ToaTau] ([IDtoa], [soThuTu], [soLuongCho], [heSoGia], [maTau]) VALUES (1, 1, 40, CAST(1.00 AS Decimal(10, 2)), N'T-1000')
INSERT [dbo].[ToaTau] ([IDtoa], [soThuTu], [soLuongCho], [heSoGia], [maTau]) VALUES (2, 2, 40, CAST(1.10 AS Decimal(10, 2)), N'T-1000')
INSERT [dbo].[ToaTau] ([IDtoa], [soThuTu], [soLuongCho], [heSoGia], [maTau]) VALUES (3, 3, 28, CAST(2.00 AS Decimal(10, 2)), N'T-1000')
SET IDENTITY_INSERT [dbo].[ToaTau] OFF
GO
SET IDENTITY_INSERT [dbo].[UuDai] ON 

INSERT [dbo].[UuDai] ([IDuu], [IDloaiUuDai], [mucGiamGia], [dieuKienApDung]) VALUES (1, 1, CAST(0.00 AS Decimal(5, 2)), N'Hành khách từ đủ 10 tuổi trở lên (Vé nguyên giá)')
INSERT [dbo].[UuDai] ([IDuu], [IDloaiUuDai], [mucGiamGia], [dieuKienApDung]) VALUES (2, 2, CAST(100.00 AS Decimal(5, 2)), N'Dưới 6 tuổi, miễn phí (không chiếm chỗ riêng)')
INSERT [dbo].[UuDai] ([IDuu], [IDloaiUuDai], [mucGiamGia], [dieuKienApDung]) VALUES (3, 2, CAST(25.00 AS Decimal(5, 2)), N'Từ 6 tuổi đến dưới 10 tuổi hoặc dưới 6 tuổi chiếm chỗ riêng')
SET IDENTITY_INSERT [dbo].[UuDai] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([ID], [ngayDat], [giaVeGoc], [giaThanhToan], [trangThai], [maChoNgoi], [maChuyenTau], [maHanhKhach], [maKhuyenMai], [maNhanVien], [maVe]) VALUES (35, CAST(N'2025-10-28T20:08:40.547' AS DateTime), CAST(1250000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Đã đặt', N'A-013', N'C-010', N'HK-00151', NULL, N'NV-001', N'VE000035')
INSERT [dbo].[Ve] ([ID], [ngayDat], [giaVeGoc], [giaThanhToan], [trangThai], [maChoNgoi], [maChuyenTau], [maHanhKhach], [maKhuyenMai], [maNhanVien], [maVe]) VALUES (36, CAST(N'2025-10-28T20:08:40.547' AS DateTime), CAST(1250000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Đã đặt', N'A-018', N'C-010', N'HK-00151', NULL, N'NV-001', N'VE000036')
INSERT [dbo].[Ve] ([ID], [ngayDat], [giaVeGoc], [giaThanhToan], [trangThai], [maChoNgoi], [maChuyenTau], [maHanhKhach], [maKhuyenMai], [maNhanVien], [maVe]) VALUES (37, CAST(N'2025-10-28T20:22:37.463' AS DateTime), CAST(1250000.00 AS Decimal(18, 2)), CAST(1000000.00 AS Decimal(18, 2)), N'Đã đặt', N'A-014', N'C-010', N'HK-00153', NULL, N'NV-001', N'VE000037')
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__563194B111FD22E5]    Script Date: 29/10/2025 3:34:57 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[cmndCccd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThongKeD__41BFE3287672B067]    Script Date: 29/10/2025 3:34:57 CH ******/
ALTER TABLE [dbo].[ThongKeDoanhThu] ADD UNIQUE NONCLUSTERED 
(
	[ngayThongKe] ASC,
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenTau] ADD  CONSTRAINT [DF_ChuyenTau_TrangThai_Initial]  DEFAULT (N'Chưa khởi hành') FOR [trangThai]
GO
ALTER TABLE [dbo].[LichSuVe] ADD  DEFAULT ((0)) FOR [phiXuLy]
GO
ALTER TABLE [dbo].[ThongKeDoanhThu] ADD  DEFAULT ((0)) FOR [tongSoHoanDoi]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ('VE'+right('000000'+CONVERT([varchar](6),NEXT VALUE FOR [seq_MaVe]),(6))) FOR [maVe]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatCho]  WITH CHECK ADD FOREIGN KEY([maChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatCho]  WITH CHECK ADD FOREIGN KEY([maPhieuDatCho])
REFERENCES [dbo].[PhieuDatCho] ([maPhieuDatCho])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatCho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuDatCho_ChoNgoi] FOREIGN KEY([maChoNgoi])
REFERENCES [dbo].[ChoNgoi] ([maChoNgoi])
GO
ALTER TABLE [dbo].[ChiTietPhieuDatCho] CHECK CONSTRAINT [FK_ChiTietPhieuDatCho_ChoNgoi]
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD FOREIGN KEY([maToa])
REFERENCES [dbo].[ToaTau] ([maToa])
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD FOREIGN KEY([maToa])
REFERENCES [dbo].[ToaTau] ([maToa])
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD  CONSTRAINT [FK_ChoNgoi_LoaiGhe] FOREIGN KEY([IDloaiGhe])
REFERENCES [dbo].[LoaiGhe] ([IDloaiGhe])
GO
ALTER TABLE [dbo].[ChoNgoi] CHECK CONSTRAINT [FK_ChoNgoi_LoaiGhe]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD FOREIGN KEY([maLichTrinh])
REFERENCES [dbo].[LichTrinh] ([maLichTrinh])
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[HanhKhach]  WITH CHECK ADD  CONSTRAINT [FK_HanhKhach_UuDai_Moi] FOREIGN KEY([maUuDai])
REFERENCES [dbo].[UuDai] ([maUuDai])
GO
ALTER TABLE [dbo].[HanhKhach] CHECK CONSTRAINT [FK_HanhKhach_UuDai_Moi]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maHanhKhach])
REFERENCES [dbo].[HanhKhach] ([maHanhKhach])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD FOREIGN KEY([maHanhKhach])
REFERENCES [dbo].[HanhKhach] ([maHanhKhach])
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD  CONSTRAINT [FK_LichSuVe_LoaiGiaoDich] FOREIGN KEY([IDloaiGiaoDich])
REFERENCES [dbo].[LoaiGiaoDich] ([IDloaiGD])
GO
ALTER TABLE [dbo].[LichSuVe] CHECK CONSTRAINT [FK_LichSuVe_LoaiGiaoDich]
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD  CONSTRAINT [FK_LichSuVe_Ve] FOREIGN KEY([maVe])
REFERENCES [dbo].[Ve] ([maVe])
GO
ALTER TABLE [dbo].[LichSuVe] CHECK CONSTRAINT [FK_LichSuVe_Ve]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD FOREIGN KEY([gaDen])
REFERENCES [dbo].[Ga] ([maGa])
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD FOREIGN KEY([gaDi])
REFERENCES [dbo].[Ga] ([maGa])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiChucVu] FOREIGN KEY([IDloaiChucVu])
REFERENCES [dbo].[LoaiChucVu] ([IDloaiCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiChucVu]
GO
ALTER TABLE [dbo].[PhieuDatCho]  WITH CHECK ADD FOREIGN KEY([maHanhKhach])
REFERENCES [dbo].[HanhKhach] ([maHanhKhach])
GO
ALTER TABLE [dbo].[PhieuDatCho]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[ThongKeDoanhThu]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD FOREIGN KEY([maTau])
REFERENCES [dbo].[Tau] ([maTau])
GO
ALTER TABLE [dbo].[UuDai]  WITH CHECK ADD  CONSTRAINT [FK_UuDai_LoaiUuDai] FOREIGN KEY([IDloaiUuDai])
REFERENCES [dbo].[LoaiUuDai] ([IDloaiUD])
GO
ALTER TABLE [dbo].[UuDai] CHECK CONSTRAINT [FK_UuDai_LoaiUuDai]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maHanhKhach])
REFERENCES [dbo].[HanhKhach] ([maHanhKhach])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_ChoNgoi] FOREIGN KEY([maChoNgoi])
REFERENCES [dbo].[ChoNgoi] ([maChoNgoi])
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_ChoNgoi]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([donGia]>(0)))
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD CHECK  (([trangThai]=N'đã đặt' OR [trangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD CHECK  (([trangThai]=N'đã đặt' OR [trangThai]=N'Trống'))
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [CHK_ID_ct] CHECK  (([IDct]>=(1) AND [IDct]<=(9999)))
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [CHK_ID_ct]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD  CONSTRAINT [CHK_TrangThai_ChuyenTau] CHECK  (([trangThai]=N'Chưa khởi hành' OR [trangThai]=N'Đang khởi hành' OR [trangThai]=N'Đã hoàn thành' OR [trangThai]=N'Đã hủy'))
GO
ALTER TABLE [dbo].[ChuyenTau] CHECK CONSTRAINT [CHK_TrangThai_ChuyenTau]
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD CHECK  (([thoiGianKhoiHanh]<[thoiGianDen]))
GO
ALTER TABLE [dbo].[Ga]  WITH CHECK ADD  CONSTRAINT [CHK_ID_Ga] CHECK  (([IDga]>=(1) AND [IDga]<=(9999)))
GO
ALTER TABLE [dbo].[Ga] CHECK CONSTRAINT [CHK_ID_Ga]
GO
ALTER TABLE [dbo].[HanhKhach]  WITH CHECK ADD  CONSTRAINT [CHK_ID_hk] CHECK  (([IDhk]>=(1) AND [IDhk]<=(99999)))
GO
ALTER TABLE [dbo].[HanhKhach] CHECK CONSTRAINT [CHK_ID_hk]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CHK_ID_hd] CHECK  (([IDhd]>=(1) AND [IDhd]<=(999999)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CHK_ID_hd]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([tongTien]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([mucGiamGia]>=(0)))
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD  CONSTRAINT [CHK_ID_lsv] CHECK  (([IDls]>=(1) AND [IDls]<=(999999)))
GO
ALTER TABLE [dbo].[LichSuVe] CHECK CONSTRAINT [CHK_ID_lsv]
GO
ALTER TABLE [dbo].[LichSuVe]  WITH CHECK ADD CHECK  (([phiXuLy]>=(0)))
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [CHK_ID_lt] CHECK  (([IDlt]>=(1) AND [IDlt]<=(9999)))
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [CHK_ID_lt]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD CHECK  (([khoangCach]>=(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CHK_ID_nv] CHECK  (([IDnv]>=(1) AND [IDnv]<=(9999)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CHK_ID_nv]
GO
ALTER TABLE [dbo].[PhieuDatCho]  WITH CHECK ADD  CONSTRAINT [CHK_ID_pdc] CHECK  (([IDpdc]>=(1) AND [IDpdc]<=(999999)))
GO
ALTER TABLE [dbo].[PhieuDatCho] CHECK CONSTRAINT [CHK_ID_pdc]
GO
ALTER TABLE [dbo].[PhieuDatCho]  WITH CHECK ADD CHECK  (([trangThai]=N'Chưa thanh toán' OR [trangThai]=N'Đã thanh toán'))
GO
ALTER TABLE [dbo].[Tau]  WITH CHECK ADD  CONSTRAINT [CHK_ID_Range] CHECK  (([ID]>=(1000) AND [ID]<=(99999)))
GO
ALTER TABLE [dbo].[Tau] CHECK CONSTRAINT [CHK_ID_Range]
GO
ALTER TABLE [dbo].[Tau]  WITH CHECK ADD CHECK  (([soLuongToa]>(0)))
GO
ALTER TABLE [dbo].[ThongKeDoanhThu]  WITH CHECK ADD  CONSTRAINT [CHK_ID_tkdt] CHECK  (([IDtk]>=(1) AND [IDtk]<=(999999)))
GO
ALTER TABLE [dbo].[ThongKeDoanhThu] CHECK CONSTRAINT [CHK_ID_tkdt]
GO
ALTER TABLE [dbo].[ThongKeDoanhThu]  WITH CHECK ADD CHECK  (([tongDoanhThu]>=(0)))
GO
ALTER TABLE [dbo].[ThongKeDoanhThu]  WITH CHECK ADD CHECK  (([tongSoVe]>=(0)))
GO
ALTER TABLE [dbo].[ThongKeDoanhThu]  WITH CHECK ADD CHECK  (([tongSoHoanDoi]>=(0)))
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD  CONSTRAINT [CHK_ID_Toa] CHECK  (([IDtoa]>=(1) AND [IDtoa]<=(9999)))
GO
ALTER TABLE [dbo].[ToaTau] CHECK CONSTRAINT [CHK_ID_Toa]
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD CHECK  (([heSoGia]>(0)))
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD CHECK  (([soLuongCho]>(0)))
GO
ALTER TABLE [dbo].[ToaTau]  WITH CHECK ADD CHECK  (([soThuTu]>(0)))
GO
ALTER TABLE [dbo].[UuDai]  WITH CHECK ADD  CONSTRAINT [CHK_ID_uudai] CHECK  (([IDuu]>=(1) AND [IDuu]<=(9999)))
GO
ALTER TABLE [dbo].[UuDai] CHECK CONSTRAINT [CHK_ID_uudai]
GO
ALTER TABLE [dbo].[UuDai]  WITH CHECK ADD CHECK  (([mucGiamGia]>=(0) AND [mucGiamGia]<=(100)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([giaThanhToan]>(0)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([giaVeGoc]>(0)))
GO
USE [master]
GO
